<h3>프로젝트 진척도</h3>
<div class="work-progress">
    <ul>
        <li>동영상 작업 현황</li>
        <li>검수 현황 (대기 / 진행 / 완료)</li>
       <li>클립 작업 현황</li>
    </ul>
    <ul>
        <li>전체</li>
        <li>완료</li>
        <li>대기</li>
        <li>진행 중</li>
        <li>1차 검수</li>
        <li>2차 검수</li>
        <li>3차 검수</li>
        <li>최종 완료</li>
        <li>전체생성건수</li>
        <li>검수완료건수</li>
        <li>핸드포즈 완료</li>
        <li>핸드포즈 대기</li>
    </ul>
    <ul class="show-data">
        <li id="total_worklist_len"></li>
        <li id="work_complete_len"></li>
        <li id="task_ready_len"></li>
        <li id="task_working_len"></li>
        <li id="inspect1_ready_len"></li>
        <li id="inspect2_ready_len"></li>
        <li id="inspect3_ready_len"></li>
        <li id="task_complete_len"></li>
        <li id="totalwork"></li>
        <li id="complete"></li>
        <li id="fullcomit"></li>
        <li id="completewait"></li>
    </ul>
</div>