{% extends 'django_app/base.html' %}
{% load static %}
{% block contents %}
<link rel="icon" href="{% static 'django_app/img/logo/gjac_favicon.ico' %}">
<link rel="stylesheet" href="{% static 'django_app/css/color.css' %}">
<script src="{% static 'django_app/js/tool/button.js' %}"></script>



<div class="workMain">
  <div style="padding:31px;">
    <div>
      <div class="flex_row">
        <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
        <div class="labellingWork">가이드 라인</div>
      </div>
      <div class="imgscroll"> 	  
		<img src="{% static 'django_app/img/guide_img/interface1.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface2.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface3.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface4.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface5.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface6.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface7.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface8.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface9.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface10.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface11.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface12.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface13.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface14.PNG' %}" style="max-width: 100%; height: auto;">
		<img src="{% static 'django_app/img/guide_img/interface15.PNG' %}" style="max-width: 100%; height: auto;">
      </div>
    </div>
  </div>
</div>

{% endblock %}
<script src="{% static 'django_app/js/tool/button.js' %}"></script>app/js/tool/button.js' %}"></script>