{% extends 'django_app/base.html' %}
{% load static %}
{% block contents %}
<link rel="icon" href="{% static 'django_app/img/logo/gjac_favicon.ico' %}">
<link rel="stylesheet" href="{% static 'django_app/css/color.css' %}">


    
    <div class="workMain">
        <div class="titleMargin">

            <div class="workMain_2">
                <div class="flex_row">
                  <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
                  <div class="labellingWork">나의 검수 기록</div>
                </div>
                <div class="tableOver_1">
                    <table class="worktable">
                      <thead>
                            <tr>
                                <th style="width:10%;">작업 번호</th>
                                <th style="width:20%;">파일 명</th>
                                <th style="width:8%;">참여 내역</th>
                                <th style="width:8%;">1차검수</th>
                                <th style="width:8%;">2차검수</th>
                                <th style="width:8%;">3차검수</th>
                                <th style="width:20%;">클립 수[가공/검수<br>핸드포즈(완료/실패)]</th>
                                <th style="width:10%;">작업 상태</th>
                                <th style="width:8%;">재검수</th>
                            </tr>
                      </thead>

                      <tbody id="processForm">

                            {% for inspect in inspect_record_list %}
                            <tr>
                                <td>{{inspect.work_id}}<br>({{inspect.work_type_nm}})</td>
                                <td>{{inspect.video_path}}</td>
                                {% if inspect.inspect_id1 == inspect.worker %}
                                <td>1차검수</td>
                                {% elif inspect.inspect_id2 == inspect.worker %}
                                <td>2차검수</td>
                                {% elif inspect.inspect_id3 == inspect.worker %}
                                <td>3차검수</td>
                                {% else %}
                                <td></td>
                                {% endif %}
                                <td>{{inspect.inspect1_start|date:"m-d"}}</td>
                                <td>{{inspect.inspect2_start|date:"m-d"}}</td>
                                <td>{{inspect.inspect3_start|date:"m-d"}}</td>
                                <td>{{clip_cnt_workers}} / {{clip_cnt_inspects}}<br>({{clip_handpose_success}} / {{clip_handpose_fail}})</td>
                                <td>{{inspect.work_status_nm}}</td>

                                {% if inspect.work_status == "G" or inspect.work_status == "R3" %}
                                    <td>
                                        <form action="{% url 're_inspect_process_2nd' inspect.work_id  inspect.work_type %}" method="post">
                                            {% csrf_token %}
                                            <button type="button" class="choice loading-middle" onclick="formMessage(event)">재검수</button>
                                        </form>
                                    </td>
                                </tr>
                                {% elif inspect.work_status == "C" %}
                                    <td>
                                        <form action="{% url 'inspect_process_1st' inspect.work_id  inspect.work_type %}" method="post">
                                            {% csrf_token %}
                                            <button type="button" class="choice loading-middle" onclick="formMessage(event)">재검수</button>
                                        </form>
                                    </td>
                                </tr>
                                {% else %}
                                    <td></td>
                            </tr>
                            {% endif %}

                                {% empty %}
                            <tr>
                                   <td colspan="9">
                                     검수 기록이 없습니다.
                                   </td>
                                 </tr>
                            </tr>
                            {% endfor %}

                      </tbody>
                    </table>
                    <nav class="paging">
                        {% if inspect_record_list.has_other_pages %}
                          <ul class = "pagination modal">

                            {% if inspect_record_list.has_previous %}
                              <li><a class="first" href="?page=1">처음</a></li>
                              <li><a href="?page={{ inspect_record_list.previous_page_number }}"> < </a></li>
                            {% else %}
                              <li class="page-item disabled"> <a class="page-link" href="#">처음</a>
                              </li> <li class="page-item disabled"> <a class="page-link" href="#"> < </a> </li>
                            {% endif %}

                            {% for i in page_range %}
                              {% if inspect_record_list.number == i %}
                                <li><a class="active num" href="?page={{ i }}">{{ i }} </a></li>
                              {% else %}
                                <li><a class="num" href="?page={{ i }}">{{ i }}</a></li>
                              {% endif %}
                            {% endfor %}

                            {% if inspect_record_list.has_next %}
                               <li><a href="?page={{ inspect_record_list.next_page_number }}"> > </a></li>
                               <li><a class="last" href="?page={{ inspect_record_list.paginator.num_pages }}">끝</a></li>
                            {% else %}
                              <li class="page-item disabled"> <a class="page-link" href="#"> > </a> </li>
                              <li class="page-item disabled"> <a class="page-link" href="#">끝</a> </li>
                            {%endif %}

                            </ul>
                        {%endif%}
                     </nav>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
<script src="{% static 'django_app/js/tool/button.js' %}"></script>