{% extends 'django_app/base.html' %}
{% load static %}
{% block contents %}
<link rel="icon" href="{% static 'django_app/img/logo/gjac_favicon.ico' %}">
<link rel="stylesheet" href="{% static 'django_app/css/color.css' %}">


    
    <div class="workMain">
      <div style="padding-top:42px;">
      <div class="workMain_2 mytask">
        <div class="sero">
        <div class="tableMargin">
        <div class="flex_row">
          <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
          <div class="labellingWork">나의 작업 리스트</div>
        </div>
        
        <div class="tableOver mytask">
        <table class="worktable mytask">
            <thead>
                <tr>
                    <th>작업 번호</th>
                    <th>작업 종류</th>
                    <th>작업 진행</th>
                    <th>작업 포기</th>
                </tr>
            </thead>
            
            <tbody>
                
                    {% for task, deny_check in task_list %}
                    <tr>
                    <td>{{task.work_id}}</td>
                    <td>{{task.str_type}}</td>

                    <td>
                            <form action="{% url 're_work_process' task.work_id task.work_type %}" method="post">
                            {% csrf_token %}
                                <button type="button" class="choice" onclick='formMessage(event)'>작업</button>
                            </form>
                    </td>
                    <td>
                        {% if task.work_his == 0 %}
                          <form action="{% url 'work_cancel' task.work_id %}" method="post" >
                          {% csrf_token %}
                              <button type="button" class="choice_1" onclick='formMessage(event)'>포기</button>
                          </form>
                        {% endif %}
                    </td>
                    <td>

                      {% empty %}
                      <tr>
                        <td colspan="4">
                          작업 목록이 없습니다.
                        </td>
                      </tr>
                    </td>

                  </tr>
                    {% endfor %}

            </tbody>
        </table>
      </div>
    </div>

    <div>
      <div class="flex_row">
        <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
        <div class="labellingWork">나의 검수 리스트 1차</div>
      </div>
      <div class="tableOver mytask">
        <table class="worktable">
            <thead>
                <tr>
                    <th>작업 번호</th>
                    <th>작업 종류</th>
                    <th>검수 진행</th>
                    <th>검수 포기</th>
                </tr>
            </thead>
            
            <tbody>
                
                    {% for num, task in inspect_list %}
                    <tr>
                    <td>{{task.work_id}}</td>
                    <td>{{task.str_type}}</td>

                    <td>
                    <form action="{% url 're_inspect_process_1st' task.work_id  task.work_type %}" method="post">
                    {% csrf_token %}
                        <button type="button" class="choice" onclick='formMessage(event)'>작업</button>
                    </form>
                    </td>
                    <td>
                    {% if task.work_his == 0 %}
                      <form action="{% url 'inspect_cancel_1st' task.work_id %}" method="post">
                      {% csrf_token %}
                          <button type="button" class="choice_1" onclick='formMessage(event)'>포기</button>
                      </form>
                    {% endif %}
                    </td>
                      {% empty %}
                      <tr>
                        <td colspan="4">
                          검수 목록이 없습니다.
                        </td>
                      </tr>
                  </tr>
                    {% endfor %}
               
            </tbody>
        </table>
      </div>
      </div>
    
      <div>
        <div class="flex_row">
          <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
          <div class="labellingWork">나의 검수 리스트 2차</div>
        </div>
        <div class="tableOver mytask">
          <table class="worktable">
              <thead>
                  <tr>
                      <th>작업 번호</th>
                      <th>작업 종류</th>
                      <th>검수 진행</th>
                      <th>검수 포기</th>
                  </tr>
              </thead>
              
              <tbody>
                  
                      {% for num, task in inspect_list_2 %}
                      <tr>
                      <td>{{task.work_id}}</td>
                      <td>{{task.str_type}}</td>
  
                      <td>
                      <form action="{% url 're_inspect_process_2nd' task.work_id task.work_type %}" method="post">
                      {% csrf_token %}
                          <button type="button" class="choice" onclick='formMessage(event)'>작업</button>
                      </form>
                      </td>
                      <td>
                        <form action="{% url 'inspect_cancel_2nd' task.work_id %}" method="post">
                        {% csrf_token %}
                            <button type="button" class="choice_1" onclick='formMessage(event)'>포기</button>
                        </form>
                        </td>
                        {% empty %}
                        <tr>
                          <td colspan="4">
                            검수 목록이 없습니다.
                          </td>
                        </tr>
                    </tr>
                      {% endfor %}
                 
              </tbody>
          </table>
        </div>
        </div>

        <div>
          <div class="flex_row">
            <div><img src="{% static 'django_app/img/menu/arrow.svg' %}"></div>
            <div class="labellingWork">나의 검수 리스트 3차</div>
          </div>
          <div class="tableOver mytask">
            <table class="worktable">
                <thead>
                    <tr>
                        <th>작업 번호</th>
                        <th>작업 종류</th>
                        <th>검수 진행</th>
                        <th>검수 포기</th>
                    </tr>
                </thead>
                
                <tbody>
                    
                        {% for num, task in inspect_list_3 %}
                        <tr>
                        <td>{{task.work_id}}</td>
                        <td>{{task.str_type}}</td>
    
                        <td>
                        <form action="{% url 're_inspect_process_3rd' task.work_id task.work_type %}" method="post">
                        {% csrf_token %}
                            <button type="button" class="choice" onclick='formMessage(event)'>작업</button>
                        </form>
                        </td>
                        <td>
                          <form action="{% url 'inspect_cancel_3rd' task.work_id %}" method="post">
                          {% csrf_token %}
                              <button type="button" class="choice_1" onclick='formMessage(event)'>포기</button>
                          </form>
                          </td>
                          {% empty %}
                          <tr>
                            <td colspan="4">
                              검수 목록이 없습니다.
                            </td>
                          </tr>
                      </tr>
                        {% endfor %}
                   
                </tbody>
            </table>
          </div>
          </div>

      </div>
    </div>
    </div>
    </div>

{% endblock %}
<script src="{% static 'django_app/js/tool/button.js' %}"></script>

